.footer {
    padding: 3rem 1.5rem 2rem;
}
.footer-color {
    background-color: var(--footer);
}
.header {
    position: fixed;
    right: 0;
    left: 0;
    width: 71%;
    border-radius: 4px;
    margin: 25px auto auto;
    box-shadow: 2px 2px 5px 6px #00000024;
    z-index: 50000;
}
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
    background: none;
}
a.navbar-item {
    color: #fff !important;
}
.navbar-menu {
    background: none !important;
    border-radius: 10px;
}
.slide-fade2-enter-active {
    transition: all 0.5s ease;
}
.slide-fade2-leave-active {
    transition: all 0.5s ease;
}
.slide-fade2-enter, .slide-fade2-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(-50px);
    opacity: 0;
}
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
    background: inherit !important;
}
.active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7) !important;
}
.menu-btn {
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: border-bottom 0.2s ease-in-out;
}
.navbar.is-primary {
    background-color: #2a0063;
    color: #fff;
}
@media screen and (min-width: 1024px) {
    .navbar,
    .navbar-end,
    .navbar-menu,
    .navbar-start {
        align-items: stretch;
        display: flex;
    }
    .navbar {
        min-height: 3.25rem;
    }
}
.navbar-brand,
.navbar-tabs {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
}
.animated {
    background: linear-gradient(
        -45deg,
        rgba(64, 0, 130, 0.4588235294117647),
        rgba(174, 76, 215, 0.47843137254901963),
        rgba(208, 126, 0, 0.5490196078431373)
    );
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
}
@-webkit-keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0 50%;
    }
}
