.fade-transition {
    transition: opacity 0.5s ease;
    opacity: 1;
}
.fade-transition-entering,
.fade-transition-exiting {
    opacity: 0;
}
.media-content {
    overflow: hidden;
}
.bg-image {
    position: absolute;
    margin-top: -0.75rem;
    margin-left: -0.75rem;
    height: 100%;
    width: 100%;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.card-content {
    padding: 0;
}
.media {
    align-items: stretch;
}
