/*
* === BODY, APP BACKGROUND ETC. ===
*/
html,
body {
    background-color: var(--app-background-color);
    height: 100%;
    font-family: "Resolve Sans", sans-serif;
    font-size: 18px;
}

a {
    color: #ee8600;
    transition: color 0.2s ease-in;
}

a:hover {
    color: #ae6f00;
}

.title {
    color: #fff;
}

.subtitle {
    color: #fff;
}

.dropdown-content {
    background-color: var(--app-background-color);
    border-radius: 4px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.dropdown-item {
    color: #fff;

    &:hover {
        color: var(--dynamic-title-color) !important;
        background-color: rgba(0, 0, 0, 0.15) !important;
    }
}

.dropdown-divider {
    background-color: #393939;
}

.container {
    max-width: 1040px;
}

.app-background {
    background-color: var(--app-background-color);
}

.theme-bg {
    background-color: var(--dynamic-title-color);
}

.theme-color {
    color: var(--dynamic-title-color) !important;
}

.theme-color:hover {
    color: var(--dynamic-title-color) !important;
}

.button-color {
    background-color: var(--app-background-color);
    border: 0;
    color: var(--dynamic-title-color) !important;
}

.card {
    background-color: #0000001c;
    color: var(--dynamic-title-color) !important;
}

.card-header-title {
    color: var(--dynamic-title-color) !important;
}

.home-tabs .is-active a {
    background-color: var(--app-background-color) !important;
    border-color: var(--app-background-color) !important;
    color: var(--dynamic-title-color) !important;
}

.tabs li.is-active a {
    border-bottom-color: var(--dynamic-title-color) !important;
    border-bottom-width: 2px;
}

.tabs li a {
    border-bottom-color: #686868 !important;
}

.tabs li a:hover {
    border-bottom-color: rgb(157, 157, 157) !important;
}

.footer-color {
    background-color: var(--footer);
}

th {
    color: var(--dynamic-title-color) !important;
}

$input-placeholder-color: var(--transparent-black);

input[type="text"] {
    background-color: var(--transparent-black) !important;
    color: var(--black) !important;
    border-color: #6464645c !important;
}

select {
    background-color: var(--transparent-black) !important;
    color: var(--black) !important;
    border-color: #6464645c !important;
}

textarea {
    background-color: var(--transparent-black) !important;
    color: var(--black) !important;
    border-color: #6464645c !important;
}

label {
    color: var(--black) !important;
}

label::before {
    background-color: var(--white) !important;
    color: var(--black) !important;
}

.select.is-empty select {
    color: rgba(255, 255, 255, 0.04) !important;
}

.modal-card-body {
    background-color: var(--app-background-color);
}

.modal-card-foot {
    background-color: var(--app-background-color);
    border-top: none;
}

.autocomplete .dropdown-item.is-hovered,
.autocomplete .dropdown .dropdown-menu .has-link a.is-hovered,
.dropdown .dropdown-menu .has-link .autocomplete a.is-hovered {
    background: #00000024;
    color: #fff;
}

.hero-body {
    margin-top: 85px;
    margin-bottom: 10px;
    color: #fff;
}
.hero-body,
.section {
    padding: 3rem 1.5rem;
}
@media print, screen and (min-width: 769px) {
    .hero.is-medium .hero-body {
        padding: 9rem 1.5rem;
    }
}
