@import "~bootstrap/scss/functions";

// Set your colors
$primary: #2a0063;
$twitter: #4099ff;

$loading-background: #0000004f;

// Links
$link: $primary;
$link-invert: invert($primary);
$link-focus-border: $primary;

@import "~bootstrap/scss/variables";

$theme-colors: (
    "primary": $primary,
    "link": $link,
    "info": $info,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);
$modal-content-bg: $dark;
$modal-content-color: $light;

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/utilities";

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge(
    $utilities,
    (
        "color":
            map-merge(
                map-get($utilities, "color"),
                (
                    values: map-merge(map-get(map-get($utilities, "color"), "values"), ($all-colors)),
                )
            ),
    )
);

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/utilities/api";
